In [1]:
# Dependencies
# ----------------------------------
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
import pandas as pd
import datetime as dt
Base = declarative_base()

pd.set_option('display.max_columns', None)

from Scripts import sqlconnector

In [2]:
# Create sqlalchemy Connection
connector = sqlconnector.sqliteConnector()

In [3]:
# Create Database and Tables
sqlconnector.create_tables()

In [4]:
atlantic_df = pd.read_csv('Resources/file/atlantic.csv')
pacific_df = pd.read_csv('Resources/file/pacific.csv')

In [5]:
atlantic_cyclone_df = atlantic_df.loc[:, ['ID', 'Name']].drop_duplicates()
# add region
atlantic_cyclone_df['region'] = 'Atlantic'

# fix column names
atlantic_cyclone_df = atlantic_cyclone_df.rename(columns={
    'ID': 'cyclone_id',
    'Name': 'cyclone_name'
})

In [6]:
atlantic_cyclone_df['cyclone_name'] = atlantic_cyclone_df['cyclone_name'].str.strip()

In [7]:
atlantic_cyclone_df.to_sql('cyclone', connector.engine, index=False, if_exists='replace')

In [8]:
pacific_cyclone_df = pacific_df.loc[:,['ID', 'Name']].drop_duplicates()
# add region
pacific_cyclone_df['region'] = 'Pacific'

# fix column names
pacific_cyclone_df = pacific_cyclone_df.rename(columns={
    'ID': 'cyclone_id',
    'Name': 'cyclone_name'
})

In [9]:
pacific_cyclone_df['cyclone_name'] = pacific_cyclone_df['cyclone_name'].str.strip()

In [10]:
pacific_cyclone_df.to_sql('cyclone', connector.engine, index=False, if_exists='append')

In [11]:
atlantic_measurement_df = atlantic_df.drop(columns='Name')

atlantic_measurement_df = atlantic_measurement_df.rename(columns={
    'ID': 'cyclone_id',
    'Date': 'measure_date',
    'Time': 'measure_time',
    'Event': 'event',
    'Status': 'status',
    'Latitude': 'latitude',
    'Longitude': 'longitude',
    'Maximum Wind': 'max_wind',
    'Minimum Pressure': 'min_pressure',
    'Low Wind NE': 'low_wind_ne',
    'Low Wind NW': 'low_wind_nw',
    'Low Wind SE': 'low_wind_se',
    'Low Wind SW': 'low_wind_sw',
    'Moderate Wind NE': 'mod_wind_ne',
    'Moderate Wind NW': 'mod_wind_nw',
    'Moderate Wind SE': 'mod_wind_se',
    'Moderate Wind SW': 'mod_wind_sw',
    'High Wind NE': 'high_wind_ne',
    'High Wind NW': 'high_wind_nw',
    'High Wind SE': 'high_wind_se',
    'High Wind SW': 'high_wind_sw',
})
atlantic_measurement_df.head()

,cyclone_id,measure_date,measure_time,event,status,latitude,longitude,max_wind,min_pressure,low_wind_ne,low_wind_se,low_wind_sw,low_wind_nw,mod_wind_ne,mod_wind_se,mod_wind_sw,mod_wind_nw,high_wind_ne,high_wind_se,high_wind_sw,high_wind_nw
0,AL011851,18510625,0,,HU,28.0N,94.8W,80,-999,999,-999,-999,999,999,-999,-999,999,999,-999,-999,999
1,AL011851,18510625,600,,HU,28.0N,95.4W,80,-999,999,-999,-999,999,999,-999,-999,999,999,-999,-999,999
2,AL011851,18510625,1200,,HU,28.0N,96.0W,80,-999,999,-999,-999,999,999,-999,-999,999,999,-999,-999,999
3,AL011851,18510625,1800,,HU,28.1N,96.5W,80,-999,999,-999,-999,999,999,-999,-999,999,999,-999,-999,999
4,AL011851,18510625,2100,L,HU,28.2N,96.8W,80,-999,999,-999,-999,999,999,-999,-999,999,999,-999,-999,999

In [12]:
atlantic_measurement_df['measure_date'] = pd.to_datetime(atlantic_measurement_df['measure_date'], format='%Y%m%d')
atlantic_measurement_df['measure_time'] = atlantic_measurement_df['measure_time'].replace(0, '0000')
atlantic_measurement_df['measure_time'] = pd.to_datetime(atlantic_measurement_df['measure_time'], format='%H%M')
atlantic_measurement_df.head()

,cyclone_id,measure_date,measure_time,event,status,latitude,longitude,max_wind,min_pressure,low_wind_ne,low_wind_se,low_wind_sw,low_wind_nw,mod_wind_ne,mod_wind_se,mod_wind_sw,mod_wind_nw,high_wind_ne,high_wind_se,high_wind_sw,high_wind_nw
0,AL011851,1851-06-25,1900-01-01 00:00:00,,HU,28.0N,94.8W,80,-999,999,-999,-999,999,999,-999,-999,999,999,-999,-999,999
1,AL011851,1851-06-25,1900-01-01 06:00:00,,HU,28.0N,95.4W,80,-999,999,-999,-999,999,999,-999,-999,999,999,-999,-999,999
2,AL011851,1851-06-25,1900-01-01 12:00:00,,HU,28.0N,96.0W,80,-999,999,-999,-999,999,999,-999,-999,999,999,-999,-999,999
3,AL011851,1851-06-25,1900-01-01 18:00:00,,HU,28.1N,96.5W,80,-999,999,-999,-999,999,999,-999,-999,999,999,-999,-999,999
4,AL011851,1851-06-25,1900-01-01 21:00:00,L,HU,28.2N,96.8W,80,-999,999,-999,-999,999,999,-999,-999,999,999,-999,-999,999

In [13]:
atlantic_measurement_df['status'] = atlantic_measurement_df['status'].str.strip()

In [14]:
atlantic_measurement_df.to_sql('measurements', connector.engine, index=False, if_exists='replace')

In [15]:
pacific_measurement_df = pacific_df.drop(columns='Name')

pacific_measurement_df = pacific_measurement_df.rename(columns={
    'ID': 'cyclone_id',
    'Date': 'measure_date',
    'Time': 'measure_time',
    'Event': 'event',
    'Status': 'status',
    'Latitude': 'latitude',
    'Longitude': 'longitude',
    'Maximum Wind': 'max_wind',
    'Minimum Pressure': 'min_pressure',
    'Low Wind NE': 'low_wind_ne',
    'Low Wind NW': 'low_wind_nw',
    'Low Wind SE': 'low_wind_se',
    'Low Wind SW': 'low_wind_sw',
    'Moderate Wind NE': 'mod_wind_ne',
    'Moderate Wind NW': 'mod_wind_nw',
    'Moderate Wind SE': 'mod_wind_se',
    'Moderate Wind SW': 'mod_wind_sw',
    'High Wind NE': 'high_wind_ne',
    'High Wind NW': 'high_wind_nw',
    'High Wind SE': 'high_wind_se',
    'High Wind SW': 'high_wind_sw',
})
pacific_measurement_df.head()

,cyclone_id,measure_date,measure_time,event,status,latitude,longitude,max_wind,min_pressure,low_wind_ne,low_wind_se,low_wind_sw,low_wind_nw,mod_wind_ne,mod_wind_se,mod_wind_sw,mod_wind_nw,high_wind_ne,high_wind_se,high_wind_sw,high_wind_nw
0,EP011949,19490611,0,,TS,20.2N,106.3W,45,-999,999,-999,-999,999,999,-999,-999,999,999,-999,-999,999
1,EP011949,19490611,600,,TS,20.2N,106.4W,45,-999,999,-999,-999,999,999,-999,-999,999,999,-999,-999,999
2,EP011949,19490611,1200,,TS,20.2N,106.7W,45,-999,999,-999,-999,999,999,-999,-999,999,999,-999,-999,999
3,EP011949,19490611,1800,,TS,20.3N,107.7W,45,-999,999,-999,-999,999,999,-999,-999,999,999,-999,-999,999
4,EP011949,19490612,0,,TS,20.4N,108.6W,45,-999,999,-999,-999,999,999,-999,-999,999,999,-999,-999,999

In [16]:
pacific_measurement_df['measure_date'] = pd.to_datetime(pacific_measurement_df['measure_date'], format='%Y%m%d')
pacific_measurement_df['measure_time'] = pacific_measurement_df['measure_time'].replace(0, '0000')
pacific_measurement_df['measure_time'] = pd.to_datetime(pacific_measurement_df['measure_time'], format='%H%M')
pacific_measurement_df.head()

,cyclone_id,measure_date,measure_time,event,status,latitude,longitude,max_wind,min_pressure,low_wind_ne,low_wind_se,low_wind_sw,low_wind_nw,mod_wind_ne,mod_wind_se,mod_wind_sw,mod_wind_nw,high_wind_ne,high_wind_se,high_wind_sw,high_wind_nw
0,EP011949,1949-06-11,1900-01-01 00:00:00,,TS,20.2N,106.3W,45,-999,999,-999,-999,999,999,-999,-999,999,999,-999,-999,999
1,EP011949,1949-06-11,1900-01-01 06:00:00,,TS,20.2N,106.4W,45,-999,999,-999,-999,999,999,-999,-999,999,999,-999,-999,999
2,EP011949,1949-06-11,1900-01-01 12:00:00,,TS,20.2N,106.7W,45,-999,999,-999,-999,999,999,-999,-999,999,999,-999,-999,999
3,EP011949,1949-06-11,1900-01-01 18:00:00,,TS,20.3N,107.7W,45,-999,999,-999,-999,999,999,-999,-999,999,999,-999,-999,999
4,EP011949,1949-06-12,1900-01-01 00:00:00,,TS,20.4N,108.6W,45,-999,999,-999,-999,999,999,-999,-999,999,999,-999,-999,999

In [17]:
pacific_measurement_df['status'] = pacific_measurement_df['status'].str.strip()

In [18]:
pacific_measurement_df.to_sql('measurements', connector.engine, index=False, if_exists='append')

## Min and Max Wind Speed

In [34]:
max_wind_speed_df = pd.read_sql('''
select max(max_wind) max_wind, m.measure_date, c.cyclone_id, cyclone_name, status, region
from cyclone c
    join measurements m on c.cyclone_id = m.cyclone_id
where status = 'HU'
group by c.cyclone_id, cyclone_name, status, region
collate nocase;
''', connector.engine)

amw_df = max_wind_speed_df.loc[max_wind_speed_df.region == 'Atlantic']
display(amw_df.loc[amw_df.max_wind == amw_df.max_wind.max()])
display(amw_df.loc[amw_df.max_wind == amw_df.max_wind.min()])

pmw_df = max_wind_speed_df.loc[max_wind_speed_df.region == 'Pacific']
display(pmw_df.loc[pmw_df.max_wind == pmw_df.max_wind.max()])
display(pmw_df.loc[pmw_df.max_wind == pmw_df.max_wind.min()])

,max_wind,measure_date,cyclone_id,cyclone_name,status,region
333,165,1980-08-07 00:00:00.000000,AL041980,ALLEN,HU,Atlantic

,max_wind,measure_date,cyclone_id,cyclone_name,status,region
27,65,1893-06-17 00:00:00.000000,AL011893,UNNAMED,HU,Atlantic
35,65,1913-06-27 00:00:00.000000,AL011913,UNNAMED,HU,Atlantic
36,65,1915-08-01 00:00:00.000000,AL011915,UNNAMED,HU,Atlantic
57,65,1968-06-03 00:00:00.000000,AL011968,ABBY,HU,Atlantic
60,65,1995-06-04 00:00:00.000000,AL011995,ALLISON,HU,Atlantic
93,65,1889-06-15 00:00:00.000000,AL021889,UNNAMED,HU,Atlantic
94,65,1891-08-19 00:00:00.000000,AL021891,UNNAMED,HU,Atlantic
95,65,1892-08-19 00:00:00.000000,AL021892,UNNAMED,HU,Atlantic
107,65,1908-05-28 00:00:00.000000,AL021908,UNNAMED,HU,Atlantic
127,65,1939-08-11 00:00:00.000000,AL021939,UNNAMED,HU,Atlantic
144,65,1966-07-02 00:00:00.000000,AL021966,BECKY,HU,Atlantic
145,65,1968-06-23 00:00:00.000000,AL021968,BRENDA,HU,Atlantic
147,65,1985-07-24 00:00:00.000000,AL021985,BOB,HU,Atlantic
149,65,1987-08-22 00:00:00.000000,AL021987,ARLENE,HU,Atlantic
203,65,1918-08-24 00:00:00.000000,AL031918,UNNAMED,HU,Atlantic
238,65,1997-07-12 00:00:00.000000,AL031997,BILL,HU,Atlantic
242,65,2005-07-06 00:00:00.000000,AL032005,CINDY,HU,Atlantic
321,65,1959-07-08 00:00:00.000000,AL041959,CINDY,HU,Atlantic
332,65,1979-07-11 00:00:00.000000,AL041979,BOB,HU,Atlantic
336,65,1988-09-02 00:00:00.000000,AL041988,DEBBY,HU,Atlantic
385,65,1913-10-08 00:00:00.000000,AL051913,UNNAMED,HU,Atlantic
408,65,1963-09-21 00:00:00.000000,AL051963,DEBRA,HU,Atlantic
412,65,1983-09-11 00:00:00.000000,AL051983,CHANTAL,HU,Atlantic
424,65,2003-07-18 00:00:00.000000,AL052003,DANNY,HU,Atlantic
459,65,1913-10-29 00:00:00.000000,AL061913,UNNAMED,HU,Atlantic
477,65,1953-09-10 00:00:00.000000,AL061953,DOLLY,HU,Atlantic
487,65,1977-09-05 00:00:00.000000,AL061977,BABE,HU,Atlantic
496,65,2006-08-27 00:00:00.000000,AL062006,ERNESTO,HU,Atlantic
533,65,1955-09-05 00:00:00.000000,AL071955,GLADYS,HU,Atlantic
536,65,1959-09-11 00:00:00.000000,AL071959,FLORA,HU,Atlantic
543,65,1977-09-08 00:00:00.000000,AL071977,CLARA,HU,Atlantic
547,65,1993-09-09 00:00:00.000000,AL071993,FLOYD,HU,Atlantic
553,65,2004-08-29 00:00:00.000000,AL072004,GASTON,HU,Atlantic
576,65,1931-09-28 00:00:00.000000,AL081931,UNNAMED,HU,Atlantic
578,65,1936-08-16 00:00:00.000000,AL081936,UNNAMED,HU,Atlantic
600,65,2003-08-16 00:00:00.000000,AL082003,ERIKA,HU,Atlantic
642,65,1993-09-20 00:00:00.000000,AL091993,HARVEY,HU,Atlantic
670,65,1948-11-10 00:00:00.000000,AL101948,UNNAMED,HU,Atlantic
684,65,1980-09-08 00:00:00.000000,AL101980,EARL,HU,Atlantic
712,65,1951-10-15 00:00:00.000000,AL111951,JIG,HU,Atlantic
745,65,1991-11-01 00:00:00.000000,AL121991,UNNAMED,HU,Atlantic
748,65,1998-10-09 00:00:00.000000,AL121998,LISA,HU,Atlantic
752,65,2007-09-26 00:00:00.000000,AL122007,KAREN,HU,Atlantic
777,65,1987-10-12 00:00:00.000000,AL131987,FLOYD,HU,Atlantic
780,65,1996-11-20 00:00:00.000000,AL131996,MARCO,HU,Atlantic
787,65,2004-10-02 00:00:00.000000,AL132004,LISA,HU,Atlantic
805,65,1984-09-25 00:00:00.000000,AL141984,HORTENSE,HU,Atlantic
807,65,1990-10-11 00:00:00.000000,AL141990,LILI,HU,Atlantic
817,65,1933-09-26 00:00:00.000000,AL151933,UNNAMED,HU,Atlantic
828,65,2011-09-08 00:00:00.000000,AL152011,NATE,HU,Atlantic
836,65,1995-09-28 00:00:00.000000,AL161995,NOEL,HU,Atlantic
838,65,2001-11-05 00:00:00.000000,AL162001,NOEL,HU,Atlantic
846,65,1974-09-29 00:00:00.000000,AL171974,GERTRUDE,HU,Atlantic
868,65,1970-10-27 00:00:00.000000,AL191970,UNNAMED,HU,Atlantic
874,65,2010-10-30 00:00:00.000000,AL202010,SHARY,HU,Atlantic
875,65,1969-09-24 00:00:00.000000,AL211969,UNNAMED,HU,Atlantic
876,65,1976-10-24 00:00:00.000000,AL211976,HOLLY,HU,Atlantic
881,65,2005-10-09 00:00:00.000000,AL242005,VINCE,HU,Atlantic
887,65,1969-11-04 00:00:00.000000,AL281969,UNNAMED,HU,Atlantic

,max_wind,measure_date,cyclone_id,cyclone_name,status,region
1383,185,2015-10-23 00:00:00.000000,EP202015,PATRICIA,HU,Pacific

,max_wind,measure_date,cyclone_id,cyclone_name,status,region
895,65,1975-09-03 00:00:00.000000,CP011975,UNNAMED,HU,Pacific
904,65,2013-08-19 00:00:00.000000,CP012013,PEWA,HU,Pacific
931,65,1978-05-31 00:00:00.000000,EP011978,ALETTA,HU,Pacific
935,65,1986-05-26 00:00:00.000000,EP011986,AGATHA,HU,Pacific
954,65,1976-06-27 00:00:00.000000,EP021976,BONNY,HU,Pacific
957,65,1984-05-30 00:00:00.000000,EP021984,BORIS,HU,Pacific
985,65,1980-06-26 00:00:00.000000,EP031980,CELIA,HU,Pacific
988,65,1988-07-11 00:00:00.000000,EP031988,CARLOTTA,HU,Pacific
1017,65,1977-08-14 00:00:00.000000,EP041977,DOREEN,HU,Pacific
1027,65,1995-07-19 00:00:00.000000,EP041995,COSME,HU,Pacific
1054,65,2001-07-24 00:00:00.000000,EP052001,DALILA,HU,Pacific
1072,65,1974-07-18 00:00:00.000000,EP061974,FRANCESCA,HU,Pacific
1082,65,1991-07-17 00:00:00.000000,EP061991,ENRIQUE,HU,Pacific
1090,65,2007-07-16 00:00:00.000000,EP062007,COSME,HU,Pacific
1098,65,1969-09-10 00:00:00.000000,EP071969,GLENDA,HU,Pacific
1102,65,1979-09-11 00:00:00.000000,EP071979,GUILLERMO,HU,Pacific
1103,65,1980-07-29 00:00:00.000000,EP071980,GEORGETTE,HU,Pacific
1104,65,1981-08-20 00:00:00.000000,EP071981,GREG,HU,Pacific
1135,65,1982-07-30 00:00:00.000000,EP081982,HECTOR,HU,Pacific
1143,65,1994-08-12 00:00:00.000000,EP081994,LI,HU,Pacific
1151,65,2008-07-25 00:00:00.000000,EP082008,GENEVIEVE,HU,Pacific
1154,65,2014-07-27 00:00:00.000000,EP082014,HERNAN,HU,Pacific
1166,65,1978-08-13 00:00:00.000000,EP091978,IVA,HU,Pacific
1196,65,1969-10-10 00:00:00.000000,EP101969,JENNIFER,HU,Pacific
1199,65,1975-08-27 00:00:00.000000,EP101975,JEWEL,HU,Pacific
1211,65,1998-09-02 00:00:00.000000,EP101998,ISIS,HU,Pacific
1234,65,1994-08-12 00:00:00.000000,EP111994,ILEANA,HU,Pacific
1243,65,2013-09-01 00:00:00.000000,EP112013,KIKO,HU,Pacific
1259,65,1999-09-06 00:00:00.000000,EP121999,GREG,HU,Pacific
1260,65,2001-09-23 00:00:00.000000,EP122001,KIKO,HU,Pacific
1261,65,2003-09-15 00:00:00.000000,EP122003,LINDA,HU,Pacific
1262,65,2004-09-15 00:00:00.000000,EP122004,ISIS,HU,Pacific
1266,65,2014-08-21 00:00:00.000000,EP122014,LOWELL,HU,Pacific
1275,65,1985-08-09 00:00:00.000000,EP131985,MARTY,HU,Pacific
1281,65,1998-10-13 00:00:00.000000,EP131998,KAY,HU,Pacific
1282,65,1999-09-20 00:00:00.000000,EP131999,HILARY,HU,Pacific
1290,65,2013-09-19 00:00:00.000000,EP132013,MANUEL,HU,Pacific
1296,65,1974-09-10 00:00:00.000000,EP141974,NORMA,HU,Pacific
1302,65,1987-09-17 00:00:00.000000,EP141987,NORMA,HU,Pacific
1319,65,1978-09-22 00:00:00.000000,EP151978,OLIVIA,HU,Pacific
1326,65,1989-09-01 00:00:00.000000,EP151989,LORENA,HU,Pacific
1327,65,1990-08-27 00:00:00.000000,EP151990,LOWELL,HU,Pacific
1330,65,2003-10-05 00:00:00.000000,EP152003,OLAF,HU,Pacific
1364,65,2014-09-18 00:00:00.000000,EP172014,POLO,HU,Pacific
1375,65,1992-09-13 00:00:00.000000,EP191992,PAINE,HU,Pacific
1380,65,1990-09-30 00:00:00.000000,EP201990,POLO,HU,Pacific

## Number of Named Storms

In [36]:
named_storms_df = pd.read_sql_query('''
select count(distinct c.cyclone_id) num_named_storms, region
from cyclone c
    join measurements m on c.cyclone_id = m.cyclone_id
where status = 'HU'
group by region
collate nocase''', connector.engine)


named_storms_df.loc['Total'] = named_storms_df.sum(numeric_only=True)

named_storms_df

       num_named_storms    region
0                 890.0  Atlantic
1                 507.0   Pacific
Total            1397.0       NaN

## Earliest Named Storm

In [33]:
storm_date_df = pd.read_sql_query('''
select c.cyclone_id, c.cyclone_name, m.measure_date, region
from cyclone c
    join measurements m on c.cyclone_id = m.cyclone_id
where cyclone_name not in ('UNNAMED')
collate nocase''', connector.engine)
display(storm_date_df.loc[storm_date_df.measure_date == storm_date_df.measure_date.min()])

      cyclone_id cyclone_name                measure_date    region
0       AL011950         ABLE  1950-08-12 00:00:00.000000  Atlantic
1       AL011950         ABLE  1950-08-12 00:00:00.000000  Atlantic
2       AL011950         ABLE  1950-08-12 00:00:00.000000  Atlantic
3       AL011950         ABLE  1950-08-12 00:00:00.000000  Atlantic
22542   CP011950         HIKI  1950-08-12 00:00:00.000000   Pacific
22543   CP011950         HIKI  1950-08-12 00:00:00.000000   Pacific
22544   CP011950         HIKI  1950-08-12 00:00:00.000000   Pacific
22545   CP011950         HIKI  1950-08-12 00:00:00.000000   Pacific

## Most Hurricanes by year

In [45]:
year_df = pd.read_sql_query('''
select strftime('%Y', measure_date) year, count(distinct c.cyclone_id) cyclone_count, region
from cyclone c
    join measurements m on c.cyclone_id = m.cyclone_id
where status = 'HU'
group by year, region
order by cyclone_count desc
''', connector.engine)
display(year_df.loc[year_df.region == 'Atlantic'].head())
display(year_df.loc[year_df.region == 'Pacific'].head())

    year  cyclone_count    region
3   2005             15  Atlantic
8   1969             12  Atlantic
12  2010             12  Atlantic
13  1887             11  Atlantic
14  1933             11  Atlantic

   year  cyclone_count   region
0  1990             16  Pacific
1  1992             16  Pacific
2  2014             16  Pacific
4  1978             14  Pacific
5  1984             13  Pacific