In [35]:
# Dependencies
# ----------------------------------
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
import pandas as pd
import datetime as dt
Base = declarative_base()

from Scripts import sqlconnector

In [23]:
# Create sqlalchemy Connection
connector = sqlconnector.sqliteConnector()

In [ ]:
# Create Database and Tables
sqlconnector.create_tables()

In [79]:
atlantic_df = pd.read_csv('Resources/file/atlantic.csv')
pacific_df = pd.read_csv('Resources/file/pacific.csv')

In [25]:
atlantic_hurricane_df = atlantic_df.loc[:,['ID', 'Name']].drop_duplicates()
# add region
atlantic_hurricane_df['region'] = 'Atlantic'

# fix column names
atlantic_hurricane_df = atlantic_hurricane_df.rename(columns={
    'ID': 'hurricane_id',
    'Name': 'hurricane_name'
})

In [26]:
atlantic_hurricane_df.to_sql('hurricane', connector.engine, index=False, if_exists='append')

In [27]:
pacific_hurricane_df = pacific_df.loc[:,['ID', 'Name']].drop_duplicates()
# add region
pacific_hurricane_df['region'] = 'Pacific'

# fix column names
pacific_hurricane_df = pacific_hurricane_df.rename(columns={
    'ID': 'hurricane_id',
    'Name': 'hurricane_name'
})

In [28]:
pacific_hurricane_df.to_sql('hurricane', connector.engine, index=False, if_exists='append')

In [72]:
atlantic_measurement_df = atlantic_df.drop(columns='Name')

atlantic_measurement_df = atlantic_measurement_df.rename(columns={
    'ID': 'hurricane_id',
    'Date': 'measure_date',
    'Time': 'measure_time',
    'Event': 'event',
    'Status': 'status',
    'Latitude': 'latitude',
    'Longitude': 'longitude',
    'Maximum Wind': 'max_wind',
    'Minimum Pressure': 'min_pressure',
    'Low Wind NE': 'low_wind_ne',
    'Low Wind NW': 'low_wind_nw',
    'Low Wind SE': 'low_wind_se',
    'Low Wind SW': 'low_wind_sw',
    'Moderate Wind NE': 'mod_wind_ne',
    'Moderate Wind NW': 'mod_wind_nw',
    'Moderate Wind SE': 'mod_wind_se',
    'Moderate Wind SW': 'mod_wind_sw',
    'High Wind NE': 'high_wind_ne',
    'High Wind NW': 'high_wind_nw',
    'High Wind SE': 'high_wind_se',
    'High Wind SW': 'high_wind_sw',
})
atlantic_measurement_df.head()

,hurricane_id,measure_date,measure_time,event,status,latitude,longitude,max_wind,min_pressure,low_wind_ne,...,low_wind_sw,low_wind_nw,mod_wind_ne,mod_wind_se,mod_wind_sw,mod_wind_nw,high_wind_ne,high_wind_se,high_wind_sw,high_wind_nw
0,AL011851,18510625,0,,HU,28.0N,94.8W,80,-999,999,...,-999,999,999,-999,-999,999,999,-999,-999,999
1,AL011851,18510625,600,,HU,28.0N,95.4W,80,-999,999,...,-999,999,999,-999,-999,999,999,-999,-999,999
2,AL011851,18510625,1200,,HU,28.0N,96.0W,80,-999,999,...,-999,999,999,-999,-999,999,999,-999,-999,999
3,AL011851,18510625,1800,,HU,28.1N,96.5W,80,-999,999,...,-999,999,999,-999,-999,999,999,-999,-999,999
4,AL011851,18510625,2100,L,HU,28.2N,96.8W,80,-999,999,...,-999,999,999,-999,-999,999,999,-999,-999,999

In [73]:
atlantic_measurement_df['measure_date'] = pd.to_datetime(atlantic_measurement_df['measure_date'], format='%Y%m%d')
atlantic_measurement_df['measure_time'] = atlantic_measurement_df['measure_time'].replace(0, '0000')
atlantic_measurement_df['measure_time'] = pd.to_datetime(atlantic_measurement_df['measure_time'], format='%H%M')
atlantic_measurement_df.head()

,hurricane_id,measure_date,measure_time,event,status,latitude,longitude,max_wind,min_pressure,low_wind_ne,...,low_wind_sw,low_wind_nw,mod_wind_ne,mod_wind_se,mod_wind_sw,mod_wind_nw,high_wind_ne,high_wind_se,high_wind_sw,high_wind_nw
0,AL011851,1851-06-25,1900-01-01 00:00:00,,HU,28.0N,94.8W,80,-999,999,...,-999,999,999,-999,-999,999,999,-999,-999,999
1,AL011851,1851-06-25,1900-01-01 06:00:00,,HU,28.0N,95.4W,80,-999,999,...,-999,999,999,-999,-999,999,999,-999,-999,999
2,AL011851,1851-06-25,1900-01-01 12:00:00,,HU,28.0N,96.0W,80,-999,999,...,-999,999,999,-999,-999,999,999,-999,-999,999
3,AL011851,1851-06-25,1900-01-01 18:00:00,,HU,28.1N,96.5W,80,-999,999,...,-999,999,999,-999,-999,999,999,-999,-999,999
4,AL011851,1851-06-25,1900-01-01 21:00:00,L,HU,28.2N,96.8W,80,-999,999,...,-999,999,999,-999,-999,999,999,-999,-999,999

In [75]:
atlantic_measurement_df.to_sql('measurements', connector.engine, index=False, if_exists='append')

In [80]:
pacific_measurement_df = pacific_df.drop(columns='Name')

pacific_measurement_df = pacific_measurement_df.rename(columns={
    'ID': 'hurricane_id',
    'Date': 'measure_date',
    'Time': 'measure_time',
    'Event': 'event',
    'Status': 'status',
    'Latitude': 'latitude',
    'Longitude': 'longitude',
    'Maximum Wind': 'max_wind',
    'Minimum Pressure': 'min_pressure',
    'Low Wind NE': 'low_wind_ne',
    'Low Wind NW': 'low_wind_nw',
    'Low Wind SE': 'low_wind_se',
    'Low Wind SW': 'low_wind_sw',
    'Moderate Wind NE': 'mod_wind_ne',
    'Moderate Wind NW': 'mod_wind_nw',
    'Moderate Wind SE': 'mod_wind_se',
    'Moderate Wind SW': 'mod_wind_sw',
    'High Wind NE': 'high_wind_ne',
    'High Wind NW': 'high_wind_nw',
    'High Wind SE': 'high_wind_se',
    'High Wind SW': 'high_wind_sw',
})
pacific_measurement_df.head()

,hurricane_id,measure_date,measure_time,event,status,latitude,longitude,max_wind,min_pressure,low_wind_ne,...,low_wind_sw,low_wind_nw,mod_wind_ne,mod_wind_se,mod_wind_sw,mod_wind_nw,high_wind_ne,high_wind_se,high_wind_sw,high_wind_nw
0,EP011949,19490611,0,,TS,20.2N,106.3W,45,-999,999,...,-999,999,999,-999,-999,999,999,-999,-999,999
1,EP011949,19490611,600,,TS,20.2N,106.4W,45,-999,999,...,-999,999,999,-999,-999,999,999,-999,-999,999
2,EP011949,19490611,1200,,TS,20.2N,106.7W,45,-999,999,...,-999,999,999,-999,-999,999,999,-999,-999,999
3,EP011949,19490611,1800,,TS,20.3N,107.7W,45,-999,999,...,-999,999,999,-999,-999,999,999,-999,-999,999
4,EP011949,19490612,0,,TS,20.4N,108.6W,45,-999,999,...,-999,999,999,-999,-999,999,999,-999,-999,999

In [81]:
pacific_measurement_df['measure_date'] = pd.to_datetime(pacific_measurement_df['measure_date'], format='%Y%m%d')
pacific_measurement_df['measure_time'] = pacific_measurement_df['measure_time'].replace(0, '0000')
pacific_measurement_df['measure_time'] = pd.to_datetime(pacific_measurement_df['measure_time'], format='%H%M')
pacific_measurement_df.head()

,hurricane_id,measure_date,measure_time,event,status,latitude,longitude,max_wind,min_pressure,low_wind_ne,...,low_wind_sw,low_wind_nw,mod_wind_ne,mod_wind_se,mod_wind_sw,mod_wind_nw,high_wind_ne,high_wind_se,high_wind_sw,high_wind_nw
0,EP011949,1949-06-11,1900-01-01 00:00:00,,TS,20.2N,106.3W,45,-999,999,...,-999,999,999,-999,-999,999,999,-999,-999,999
1,EP011949,1949-06-11,1900-01-01 06:00:00,,TS,20.2N,106.4W,45,-999,999,...,-999,999,999,-999,-999,999,999,-999,-999,999
2,EP011949,1949-06-11,1900-01-01 12:00:00,,TS,20.2N,106.7W,45,-999,999,...,-999,999,999,-999,-999,999,999,-999,-999,999
3,EP011949,1949-06-11,1900-01-01 18:00:00,,TS,20.3N,107.7W,45,-999,999,...,-999,999,999,-999,-999,999,999,-999,-999,999
4,EP011949,1949-06-12,1900-01-01 00:00:00,,TS,20.4N,108.6W,45,-999,999,...,-999,999,999,-999,-999,999,999,-999,-999,999

In [82]:
pacific_measurement_df.to_sql('measurements', connector.engine, index=False, if_exists='append')